[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
invoke = "*"
requests = "*"
docker = "*"
PyYAML = "*"
Jinja2 = "*"
GitPython = "*"
sphinx = "*"
m2r2 = "*"
