[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
bumpversion = "*"
docker = "*"
gitpython = "*"
invoke = "*"
jinja2 = "*"
pyyaml = "*"
requests = "*"

[requires]
python_version = "3.9"
