---
name: "CI"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Test
    runs-on: Ubuntu-20.04
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
      - uses: seisollc/goat@main
        with:
          disable_terrascan: true
          disable_mypy: true
      - uses: actions/setup-python@v2
        with:
          python-version: "3.9"
      - name: Install the dependencies
        run: |
          python -m pip install --upgrade pipenv
          pipenv install --dev
      - name: Run tests
        run: |
          find tests -mindepth 1 -type d -exec chmod o+w {} \;
          pipenv run invoke test --debug
  distribute:
    name: Distribute
    if: ${{ github.event_name == 'push' }}
    runs-on: Ubuntu-20.04
    needs: Test
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.9"
      - name: Install the dependencies
        run: |
          python -m pip install --upgrade pipenv
          pipenv install --dev
          mkdir "${GITHUB_WORKSPACE}/bin"
          curl -sSfL https://raw.githubusercontent.com/anchore/syft/main/install.sh | sh -s -- -b "${GITHUB_WORKSPACE}/bin"
          echo "::add-path:${GITHUB_WORKSPACE}/bin"
          chmod +x "${GITHUB_WORKSPACE}/bin/syft"
      - name: Build the Docker images
        run: pipenv run invoke build --debug
      - name: Generate SBOMs
        run: pipenv run invoke sbom --debug
      - uses: actions/upload-artifact@v2
        with:
          name: SBOMs
          path: sbom.*.spdx.json
          if-no-files-found: error
      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Publish the latest Docker images to Docker Hub
        run: pipenv run invoke publish latest --debug
