---
name: "Commit"
on:
  push:
    branches:
      - main
jobs:
  test:
    name: Test
    runs-on: Ubuntu-20.04
    strategy:
      matrix:
        python-version:
          - '3.8'
          - '3.9'
    steps:
      - name: Checkout the PR
        uses: actions/checkout@v2
      - uses: seisollc/goat@main
        with:
          disable_terrascan: true
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pipenv
          pipenv install --python ${{ matrix.python-version }} --dev
      - name: Build the Docker images
        run: pipenv run invoke build
      - name: Run tests
        run: pipenv run invoke test
  distribute:
    name: Distribute
    runs-on: Ubuntu-20.04
    needs: Test
    steps:
      - name: Checkout the code
        uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pipenv
          pipenv install --dev
      - name: Build the Docker images
        run: pipenv run invoke build
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Publish the README
        uses: peter-evans/dockerhub-description@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: seiso/easy_infra
          short_description: |
            A docker container to simplify the use of Infrastructure as Code (IaC) tools
      - name: Publish the Docker images
        run: pipenv run invoke publish
